/*Imported Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/*All purpose CSS code*/
.no-padding {
    padding: 0px !important;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.column-titles {
    color: #9c94cc;
    font-size: 25px;
}

.main-font {
    font-family: 'Courier New', Courier, monospace;
}

p {
    margin-bottom: 0px !important;
}

/*CSS used in the header section*/

/*Main-title-div-style is taken from: https://stackoverflow.com/questions/5670879/css-html-create-a-glowing-border-around-an-input-field*/

.main-title-div-style {
    height: 140px;
    padding-top: 40px;
}

.navbar-style {
    background-color: #94bcccce;
}

.nav-style {
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 25px;
}

.centre-90 {
    margin: auto;
    width: 90%;
}

.city-search-div-center {
    margin: auto;
    width: 45%;
}

.city-search-h1-center {
    margin: auto;
    width: 45%;
}

.the-best-div-center {
    margin: auto;
    width: 45%;
}

.title-font {
    font-family: 'Abril Fatface', cursive;
    color: whitesmoke;
}

#header-styles {
    padding-bottom: 30px;
    background-color: #9c94cc;
}

/*CSS used in Bootstrap Modal*/
.modal-text-style {
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 650;
    font-size: 15px;
}

.modal-header-footer-style {
    background-color: #9ecaed;
}

.modal-body-style {
    background-color: #9c94cc;
}

.about-style {
    font-family: 'Abril Fatface', cursive;
    font-weight: 700;
    color: whitesmoke;
}

.btn-secondary {
    font-family: 'Abril Fatface', cursive;
    font-weight: 700;
    color: whitesmoke;
    background-color: #9c94cc !important;
}

/*CSS used in the main body section split into map column, middle column and final column*/
/*Map column CSS code*/

#map {
    width: 100%;
    height: 380px;
    border-top: 10px solid #94bcccce;
    border-left: 10px solid #94bcccce;
    border-bottom: 10px solid #94bcccce;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

/*Middle column CSS code*/

.middle-column-format {
    padding-top: 30px;
    border-top: 10px solid #94bcccce;
    border-bottom: 10px solid #94bcccce;
    border-right: 5px solid #94bcccce;
    border-left: 10px solid #94bcccce;
    height: 380px;
}

.labels {
    color: #9c94cc;
}

.my-buttons {
    background-color: #94cca4 !important;
    border: 4px double #cccccc !important;
}

.my-buttons:hover {
    background-color: #94bcccce !important;
}

/*Final column CSS code*/

.final-column-format {
    padding-top: 30px;
    border-top: 10px solid #94bcccce;
    border-bottom: 10px solid #94bcccce;
    border-right: 10px solid #94bcccce;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 5px solid #94bcccce;
    height: 380px;
    padding-right: 0px !important;
}

.results-div h3 {
    text-align: center;
}

.max-height-517 {
    height: 517px;
}

/*This code was taken from: https://loading.io/css/*/
.lds-circle {
    display: inline-block;
    transform: translateZ(1px);
}

.lds-circle>div {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background: #fff;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {

    0%,
    100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }

    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }

    100% {
        transform: rotateY(3600deg);
    }
}

/*End of borrowed code*/

.scroll {
    overflow: auto;
}

.max-height-459 {
    height: 265px;
}

.loading-screen {
    background-color: #94bcccce;
    line-height: 100px;
    text-align: center;
    font-size: 100px;
}

/*CSS code for footer*/

.footer-styling {
    height: 200px;
}

.height-100 {
    height: 100%;
}

.footer-columns-format {
    padding-top: 15px;
    background-color: #9c94cc;
}

.footer-text-style {
    color: whitesmoke;
}

.padding-left-25 {
    padding-left: 70px;
}

.line-height-185 {
    line-height: 120px;
}

.media-links {
    text-align: center;
    font-size: 50px;
    line-height: 20px;
    padding-right: 40px;
    color: white;
    margin-bottom: 0;
    display: inline-block;
    list-style-type: none;
}

.inline-block {
    display: inline-block;
}

.inline-block a {
    color: #9ecaed;
}

.inline-block a:hover {
    text-decoration: none;
    color: whitesmoke;
}

.here-style {
    color: #9ecaed;
    text-decoration: none;
}

.here-style:hover {
    color: #94cca4;
    text-decoration: none;
}

/*Media Queries - these are orgnaised from highest to lowest in terms of max-width*/
@media only screen and (max-width: 1310px) {
    .centre-90 {
        margin: auto;
        width: 100%;
    }

    .my-buttons {
        font-size: 15px !important;
    }
}

@media only screen and (max-width: 1260px) {
    .my-buttons {
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 1176px) {
    .the-best-div-center {
        margin: auto;
        width: 50%;
    }

    .padding-left-25 {
        padding-left: 20px;
    }

    .city-search-h1-center {
        margin: auto;
        width: 55%;
    }

}

@media only screen and (max-width: 1074px) {
    .my-buttons {
        font-size: 10px !important;
    }
}

@media only screen and (max-width: 1057px) {
    .the-best-div-center {
        margin: auto;
        width: 55%;
    }
}

@media only screen and (max-width: 992px) {
    .my-buttons {
        font-size: 20px !important;
    }
}

@media only screen and (max-width: 963px) {
    .the-best-div-center {
        margin: auto;
        width: 60%;
    }
}

@media only screen and (max-width: 884px) {
    .the-best-div-center {
        margin: auto;
        width: 65%;
    }

    .city-search-h1-center {
        margin: auto;
        width: 60%;
    }
}

@media only screen and (max-width: 818px) {
    .the-best-div-center {
        margin: auto;
        width: 70%;
    }

    .city-search-h1-center {
        margin: auto;
        width: 65%;
    }
}

@media only screen and (max-width: 761px) {
    .the-best-div-center {
        margin: auto;
        width: 75%;
    }

    .city-search-h1-center {
        margin: auto;
        width: 70%;
    }
}

@media only screen and (max-width: 710px) {
    .the-best-div-center {
        margin: auto;
        width: 80%;
    }

    .city-search-h1-center {
        margin: auto;
        width: 75%;
    }
}

@media only screen and (max-width: 667px) {
    .the-best-div-center {
        margin: auto;
        width: 90%;
    }

    .city-search-h1-center {
        margin: auto;
        width: 85%;
    }
}

@media only screen and (max-width: 595px) {
    .the-best-div-center h2 {
        font-size: 25px !important;
    }

    .city-search-h1-center {
        font-size: 35px !important;
    }

    .the-best-div-center {
        margin: auto;
        width: 80%;
    }
}

@media only screen and (max-width: 524px) {
    .the-best-div-center {
        margin: auto;
        width: 85%;
    }

    .city-search-h1-center {
        margin: auto;
        width: 90%;
    }
}

@media only screen and (max-width: 494px) {
    .the-best-div-center h2 {
        font-size: 22px !important;
    }

    .city-search-h1-center {
        font-size: 32px !important;
    }

    .main-title-div-style {
        height: auto;
    }
}

@media only screen and (max-width: 440px) {
    .the-best-div-center h2 {
        font-size: 18px !important;
    }

    .city-search-h1-center {
        font-size: 28px !important;
        margin: auto;
        width: 85%;
    }

    .the-best-div-center {
        margin: auto;
        width: 80%;
    }

}

@media only screen and (max-width: 407px) {
    .the-best-div-center h2 {
        font-size: 16px !important;
    }

    .city-search-h1-center {
        font-size: 26px !important;
    }
}

@media only screen and (max-width: 381px) {
    .city-search-h1-center {
        margin: auto;
        width: 90%;
    }

    .the-best-div-center {
        margin: auto;
        width: 85%;
    }

    .my-buttons {
        font-size: 15px !important;
    }
}